:root {
    --background-color: rgb(50, 119, 168);
    --text-color: rgb(21, 22, 26);
    --sec-background-color: rgb(252, 252, 252);
    --container-border: rgb(96, 96, 96);
    --button-color: rgb(17, 186, 62);
    --button-text-color: rgb(255,255,255);
    --button-hover-color: rgb(0, 0, 0);
    --clear-button: rgb(230, 2, 2);
}